<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBc_lvVM1s_51lxF6Z0O6_EmC5Wjm4hm_s</string>
	<key>GCM_SENDER_ID</key>
	<string>444805055193</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kwame.crudWithFirebase</string>
	<key>PROJECT_ID</key>
	<string>crudoperation-dcf9e</string>
	<key>STORAGE_BUCKET</key>
	<string>crudoperation-dcf9e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:444805055193:ios:03f642f9c762eecd0eb4c8</string>
</dict>
</plist>